// Fonts
$font-family-body: "Roboto", sans-serif;
$font-family-mono: "Roboto", sans-serif;
$font-family-tt: "Inconsolata", monospace;
$font-size: 18px;
$line-height: 1.5;
$page-width: 60rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
// Colors
$colors: "dark" // white dark light classic